@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* =============Variable CSS================ */
:root{
    /* 1 rem = 16px | .5rem = 8px */
    --tinggi-header: 3.5rem;

    /* =============Warna================ */
    --hue: 152;
    --warna-pertama: #FD9E18;
    --alternatif-warna-pertama: #E99218;
    --warna-pertama-terang: #FFC777;
    --warna-pertama-lebih-terang: #FFFFFF;
    --warna-judul: #2C302C;
    --warna-text: #656C64;
    --warna-text-terang: #98A09C;
    --warna-body: #FFFFFF;
    --warna-container: #FFF;
    
    /* =============Font================ */
    --font: 'Roboto', sans-serif;
    --ukuran-font-h1: 1.5rem;
    --ukuran-font-h2: 1.25rem;
    --ukuran-font-h3: 1rem;
    --font-besar: 2rem;
    --ukuran-font-normal: .938rem;
    --ukuran-font-kecil: .813rem;
    --ukuran-font-lebih-kecil: .75rem;
    /* =============Font Weight================ */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* =============Margin Bottom================ */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* =============Z Index================ */
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* =============Responsive Font================ */
@media screen and (min-width: 968px) {
    :root{
    --ukuran-font-h1: 2.25rem;
    --ukuran-font-h2: 1.5rem;
    --ukuran-font-h3: 1.25rem;
    --font-besar: 3.5rem;
    --ukuran-font-normal: 1rem;
    --ukuran-font-kecil: .875rem;
    --ukuran-font-lebih-kecil: .813rem;
    }
}

/* =============Dasar================ */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::after, ::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--font);
    font-size: var(--ukuran-font-normal);
}

body{
    margin: var(--tinggi-header) 0 0 0;
    background-color: var(--warna-body);
    color: var(--warna-text);
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

h1, h2, h3{
    color: var(--warna-judul);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* =============Kelas CSS yang Dapat Digunakan Kembali================ */
.section{
    padding: 5.5rem 0 1rem;
}

.section__judul,
.section__judul-center
.spt__judul-center{
    font-size: var(--ukuran-font-h2);
    margin-bottom: var(--mb-2);
    line-height: 140%;
}

.section__judul-center{
    text-align: center;

}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}

.main{
    /* Untuk Menjalankan Animasi */
    overflow: hidden;
    background-color: #FBFBFB;
    transition: .4s;
}

/* =============Header================ */
.header{
  width: 100%; 
  background-color: var(--warna-body);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

/* =============Navigasi================ */
.nav{
    height: var(--tinggi-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
}

.nav__logo,
.nav__toggle,
.nav__close{
    color: var(--warna-judul);
}

.nav__logo{
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}

.nav__logo-icon{
    font-size: 1.15rem;
    color: var(--warna-pertama);
}

.nav__logo:hover{
    color: var(--warna-pertama);
}

.nav__right{
    display: flex;
    column-gap: var(--mb-0-75);
}

.nav__beralih,
.nav__mode-gelap{
    display: inline-flex;
    flex-direction: column;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        background-color: var(--warna-container);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px var(--warna-text-terang);
        padding: 4rem 0 0 3rem;
        border-radius: 0.5rem 0 0 1rem;
        transition: .3s;
        z-index: var(--z-fixed);
    }
}

.nav__close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link{
    color: var(--warna-judul);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__link:hover{
    color: var(--warna-pertama);
}

/* Tampilkan Menu */
.show-menu{
    right: 0;
}

/* Mengganti Background Header */
.scroll-header{
    box-shadow: 0 1px 4px var(--warna-text-terang);
}

/* Active Link */
.active-link{
    position: relative;
    color: var(--warna-pertama);
}

.active-link::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--warna-pertama);
}

/* =============Beranda================ */
.beranda{
    padding: 3.5rem 0 2rem;
}

.beranda__container{
    position: relative;
    row-gap: 2rem;
}

.beranda__img{
    width: 380px;
    justify-self: center;
}

.beranda__judul{
    font-size: var(--font-besar);
    line-height: 120%;
    margin-bottom: var(--mb-1);
}

.beranda__deskripsi{
    margin-bottom: var(--mb-1-5);
}

/* =============Tombol================ */
.button{
    display: inline-block;
    background-color: var(--warna-pertama);
    color: white;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--alternatif-warna-pertama);
}

.button__icon{
    transition: .3s;
}

.button:hover .button__icon{
    transform: translateX(.25rem);
}

.button--flex{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.button--link{
    color: var(--warna-pertama);
    font-weight: var(--font-medium);
}

.button--link:hover .button__icon{
    transform: translateX(.25rem);
}

/* =============Tentang Kami================ */
.tentang__container{
    row-gap: 2rem;
}

.tentang__img{
    width: 280px;
    justify-self: center;
    padding-bottom: var(--mb-2);
}

.tentang__judul{
    margin-bottom: var(--mb-1);
}

.tentang__deskripsi{
    margin-bottom: var(--mb-2);
}

.tentang__detail{
    display: grid;
    row-gap: 1rem;
    margin-bottom: var(--mb-2-5);
}

.tentang__detail-deskripsi{
    display: inline-flex;
    column-gap: .5rem;
    font-size: var(--ukuran-font-kecil);
}

/* =============Sepatu Laki=Laki================ */

.main1{
    padding: 2rem 0;
}

.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-top: 4rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    align-items: center;
    gap: 4rem 7rem;
}

.produk{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 350px;
    background-color: var(--warna-pertama);
    border-radius: var(--mb-1);
    padding: 4rem 2rem 0;
    color: var(--warna-judul);
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.produk__img{
    margin-top: -1rem;
    position: absolute;
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.produk__data{
    transform: translateY(13.2rem);
    text-align: center;
    filter: none;
}

.produk__judul{
    font-size: var(--ukuran-font-h3);
    text-align: left;
    margin-top: -2rem;
    margin-bottom: .5rem;
    filter: none;
}

.produk__harga{
    padding-right: 40rem;
    display: inline-block;
    font-weight: 600;
    margin-bottom: .5rem;
}

.produk__deskripsi{
    font-size: var(--ukuran-font-lebih-kecil);
    text-align: initial;
    margin-bottom: 1.25rem;
    opacity: 0;
}

.produk__button{
    margin-top: var(--mb-2);
    display: block;
    width: max-content;
    padding: 1.125rem 5rem;
    background-color: var(--warna-judul);
    color: white;
    border-radius: .5rem;
    font-weight: 500;
    transition: .2s;
    opacity: 0;
}

.produk__button:hover{
    box-shadow: 0 18px 40px -12px rgba(242,162,12,.35);
}

.produk__img,
.produk__data,
.produk__judul,
/* .produk__harga, */
.produk__deskripsi{
    transition: .5s;
}

/* Efek Hover Produk */
.produk:hover .produk__img{
    transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
}

.produk:hover .produk__data{
    transform: translateY(4.8rem);
}

.produk:hover .produk__deskripsi,
.produk:hover .produk__button{
    transition-delay:  .2s;
    opacity: 1;
}

/* =============Kontak Kami================ */
.kontak__kami-container{
    row-gap: var(--mb-2);
    margin-bottom: 10rem;
}

.kontak__kami-judul{
    margin-bottom: var(--mb-2);
}

.kontak__kami-data{
    display: grid;
    row-gap: var(--mb-1);
}

.kontak__kami-sub{
    font-size: var(--ukuran-font-normal);
    font-weight: var(--font-medium);
    color: var(--warna-text);
}

.kontak__kami-deskripsi{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--warna-judul);
    font-weight: var(--font-medium);
}

.kontak__kami-inputs{
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--mb-2);
}


.kontak__kami-konten{
    position: relative;
    height: var(--mb-2);
    border-bottom: 1px solid var(--warna-text-terang);
}

.kontak__kami-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
}

.kontak__kami-label{
    position: absolute;
    top: .75rem;
    width: 100%;
    font-size: var(--ukuran-font-kecil);
    color: var(--warna-text-terang);
    transition: .3s;
}

.kontak__kami-area{
    height: 7rem;
}

.kontak__kami-area textarea{
    resize: none;
}

/* Memasukkan Untuk Memindahkan Label */
.kontak__kami-input:focus + .kontak__kami-label{
    top: -.75rem;
    left: 0;
    font-size: var(--ukuran-font-kecil);
    z-index: 10;
}

/* Input Fokus Ke Label Sticky Note */
.kontak__kami-input:not(:placeholder-shown).kontak__kami-input:not(:focus) + .kontak__kami-label{
    top: -.75rem;
    font-size: var(--ukuran-font-kecil);
    z-index: 10;
}

/* =============Footer================ */
.footer__container{
    row-gap: 2rem;
}

.footer__tokped,
.footer__ig{
    width: 20px;
    margin-right: .5rem;
    transition: .3;
}

.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--warna-judul);
    font-weight: 700;
    margin-bottom: var(--mb-2);
    transition: .3s;
}

.footer__logo-icon{
    font-size: 1.15rem;
    color: var(--warna-pertama);
}

.footer__logo:hover{
    color: var(--warna-pertama);
}

.footer__judul{
    font-size: var(--ukuran-font-h2);
    margin-bottom: var(--mb-1-5);
}

.footer__subscribe{
    background-color: var(--warna-pertama-terang);
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
}

.footer__input{
    width: 70%;
    padding: 0 .5rem;
    background: none;
    border: none;
    outline: none;
}

.footer__button{
    padding: 1rem;
}

.footer__informasi{
    font-size: var(--ukuran-font-kecil);
}

.footer__pembayaran{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.footer__pembayaran-logo{
    width: 50px;
}

.footer__sosmed{
    display: inline-flex;
    column-gap: 2rem;
}

.footer__sosmed-link{
    display: flex;
    font-size: 1rem;
    color: var(--warna-text);
    transition: .3s;
}

.footer__sosmed-link:hover{
    transform: translateY(-.25rem);
    color: var(--warna-pertama);
}

.footer__copyright{
    text-align: center;
    font-size: var(--ukuran-font-kecil);
    color: var(--warna-text-terang);
    margin:  3rem 0 1rem;
}

/* =============Bar Scroll================ */
::-webkit-scrollbar{
    width: .6rem;
    background: var(--warna-text-terang);
}

::-webkit-scrollbar-thumb{
    background: var(--warna-pertama);
    border-radius: .5rem;
}
/* =============Responsive================ */
/* =============Tablet================ */
@media screen and (min-width: 576px) {
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

    .produk__judul{
        font-size: var(--ukuran-font-normal);
    }
}

@media screen and (min-width: 767px) {
    body{
        margin: 0;
    }

    .nav{
        height: calc(var(--tinggi-header) + 1.5rem);
    }

    .nav__beralih,
    .nav__close{
        display: none;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
        font-size: .75rem;
    }

    .nav__menu{
        margin: auto;
    }

    .beranda__img{
        width: 380px;
        padding-right: 1rem;
    }

    .tentang__img{
        width: 250px;
    }

    .beranda{
        padding: 10rem 0 5rem;
    }

    .beranda__container,
    .tentang__container,
    .kontak__kami-container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container{
        column-gap: 4rem;
    }

    .footer__subscribe{
        width: initial;
    }
}

/* =============Laptop/PC================ */
@media screen and (min-width: 992px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 8rem 0 1rem;
    }

    .section__judul,
    .section__judul-center{
        font-size: var(--ukuran-font-h1);
    }

    .beranda{
        padding: 13rem 0 5rem;
    }

    .beranda__data{
        padding-left: 1rem;
    }

    .beranda__deskripsi{
        padding-right: 7rem;

    }

    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

    .produk__judul{
        font-size: var(--ukuran-font-normal);
    }

    .footer__logo{
        font-size: var(--ukuran-font-h3);
    }

    .footer__container{
        grid-template-columns: 1fr .5fr .5fr .5fr;
    }

    .footer__copyright{
        margin: 7rem 0 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .tentang__container{
        column-gap: 7rem;
    }

    .scroll__up{
        right: 3rem;
    }

    .beranda{
        padding: 20rem 0 13rem;
        transform: scale(1.15);
    }

    .beranda__img{
        width: 500px;
        padding-right: 4rem;
    }

    .tentang{
        transform: scale(1.15);
    }

    .tentang__img{
        transform: scale(1.15);
    }
}


